# Order alphabetically.
# Order is important. The last matching pattern takes the most precedence.

# Default owners for everything in the repo.
# TODO: Change name to @www.ruby-lang.org-editorial
*       @www.ruby-lang-org-editorial

# TODO: Create @www.ruby-lang.org-i18n-bg
bg/*    @www.ruby-lang.org-i18n

# TODO: Change name to @www.ruby-lang.org-i18n-de
de/*    @www-ruby-lang-org-i18n-de

en/*    @www.ruby-lang.org-i18n

# TODO: Change name to @www.ruby-lang.org-i18n-es
es/*    @www-ruby-lang-org-i18n-es

# TODO: Change name to @www.ruby-lang.org-i18n-fr
fr/*    @www-ruby-lang-org-i18n-fr

# TODO: Create @www.ruby-lang.org-i18n-id
id/*    @www.ruby-lang.org-i18n

it/*    @www.ruby-lang.org-i18n-it

ja/*    @www.ruby-lang.org-i18n-ja

ko/*    @www.ruby-lang.org-i18n-ko

# TODO: Create @www.ruby-lang.org-i18n-pl
pl/*    @www.ruby-lang.org-i18n

# TODO: Create @www.ruby-lang.org-i18n-pt
pt/*    @www.ruby-lang.org-i18n

# TODO: Create @www.ruby-lang.org-i18n-ru
ru/*    @www.ruby-lang.org-i18n

# TODO: Create @www.ruby-lang.org-i18n-tr
tr/*    @www.ruby-lang.org-i18n

# TODO: Create @www.ruby-lang.org-i18n-vi
vi/*    @www.ruby-lang.org-i18n

# TODO: Change name to @www.ruby-lang.org-i18n-zh_cn
zh_cn/* @www-ruby-lang-org-i18n-zh_cn

# TODO: Change name to @www.ruby-lang.org-i18n-zh_tw
zh_tw/* @www-ruby-lang-org-i18n-zh_tw
